<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup] = "formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut (ej:11111111-1)</ion-label>
          <ion-input formControlName="rut" type="txt" minlenght="10" maxlength="12"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">N° Tarjeta (16 digitos)</ion-label>
          <ion-input formControlName="tarjeta" type="txt" minlenght="16" maxlength="16"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input formControlName="direccion" type="txt" minlenght="10" maxlength="50"></ion-input>
        </ion-item>           
      </form>
      <ion-item >
        <ion-label position = "floating">Comuna</ion-label>
        <ion-select cancelText="Atrás" okText="Ok" [(ngModel)]="comuSelected" (ionChange)="setComuna()">
          <ion-select-option *ngFor="let comu of comunas" [value]="comu" aria-required="true">
            {{comu.nom_comuna}}
          </ion-select-option>                    
        </ion-select>      
      </ion-item>
      <ion-button class="btn-guardar"   (click)="guardar()">
        Registrar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
